<!DOCTYPE html>
<html lang="fr">
    <head>
        <link href="../static/garamond/Garamonb.ttf" rel="stylesheet" type="text/css" />
        <meta charset="UTF-8">
        <link rel="shortcut icon" href="../static/icone.ico">
        <link rel="stylesheet" href="../static/style.css">
        <link rel="stylesheet" href="../static/todo.css">
        <title>Todolist</title>
    </head>
    <body>
        <div class='ripple-background'>
            <div class='circle xxlarge shade1'></div>
            <div class='circle xlarge shade2'></div>
            <div class='circle large shade3'></div>
            <div class='circle mediun shade4'></div>
            <div class='circle small shade5'></div>
        </div>
        <div class="container">
            <h1>Ma Todo List fait avec soin</h1>
                <h3>Editer</h3>
                <form action="{{ url_for('edit', index=index) }}" method="post">
                    <input type="text" name="todo" value="{{ todo['task'] }}">
                    <button type="submit">Save</button>
        </div>
    </body>
    <footer>

    </footer>
</html>